{{#if isPermitted}}
<h1>{{ i18n 'notebook.title' }}</h1>
<div class="notes-page">
  <form {{ action 'createNote' note on='submit' }}>

    <label>
      {{ i18n 'notebook.create_note.text_field_label' }}
    </label>
    {{ textarea name='note' value=note }}

    <button type='submit' class='btn btn-primary'>

      {{ i18n 'notebook.create_note.submit_label' }}
    </button>
  </form>

  {{#if notes}}
  <ol>
    {{#each notes as |note|}}
    <li class="notes">


      {{ note.content }}
      <button type="button" {{ action 'deleteNote' note }} class="notes-trash">
        <svg class="fa d-icon d-icon-fa-trash-alt svg-icon svg-string" xmlns="http://www.w3.org/2000/svg">
          <use xlink:href="#trash-alt"></use>
        </svg>
      </button>

    </li>
    {{/each}}
  </ol>
  {{/if}}
</div>
{{else}}
<h1>{{ i18n 'notebook.title' }}</h1>
<h2>Not logged in.</h2>
{{/if}}