{{#if isPermitted}}
<h1>{{ i18n 'notebook.title' }}</h1>
<div class="notes-page">
  <form {{ action 'createNote' note on='submit' }}>

    <label>
      {{ i18n 'notebook.create_note.text_field_label' }}
    </label>
    <div class="notes-text-area">
      {{ textarea id="notebook"  name='note' value=note autofocus=true }}
    </div>
    <button type='submit' class='notes-plus'>
      <svg class="fa d-icon d-icon-fa-plus svg-icon svg-string" xmlns="http://www.w3.org/2000/svg">
        <use xlink:href="#plus"></use>
      </svg>
    </button>
  </form>

  {{#if notes}}
  <div class="notes-list">
    <ol>
      {{#each notes as |note|}}
      <li class="notes">


        {{ note.content }}
        <span class='setting-controls'>
          <button type="button" {{ action 'deleteNote' note }} class="notes-trash">
            <svg class="fa d-icon d-icon-fa-trash-alt svg-icon svg-string" xmlns="http://www.w3.org/2000/svg">
              <use xlink:href="#trash-alt"></use>
            </svg>
          </button>
        </span>
      </li>
      {{/each}}
    </ol>
  </div>
  {{/if}}
</div>
{{else}}
<h1>{{ i18n 'notebook.title' }}</h1>
<h2>Not logged in.</h2>
{{/if}}